/*CSS for menu bar starts here*/

body
{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav
{
  background: black;
  position: fixed;
  width: 100%;
  height: 65px;
  z-index: 2;
}

nav ul
{
  margin-top: 0;
}

nav ul li
{
  font-size: 20px;
  opacity: 0.9;
  display: inline-block;
  height: 65px;
}

nav ul li a
{
  color: white;
  text-decoration: none;
  line-height: 65px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  transition: background 0.4s;
}

nav ul li a:hover
{
  background: green;
  color: white;
}

.dropdown-menu
{
  display: none;
  position: absolute;
  background-color: black;
  padding-left: 0px;
}

.dropdown-menu li
{
  display: block;
  width: 304px;
}

.dropdown-menu li a
{
  width: 300px;
  padding-right: 0px;
  padding-left: 4px;
}

.dropdown:hover .dropdown-menu
{
  display: block;
}

/*CSS for menu bar ends here*/


/*CSS for background image and overlay starts here*/

#hero /* hero image in html is a large image with texts over it */
{
  background-image: url("Images/rooms.jpg");
  background-repeat: no-repeat;
  overflow: scroll;
  background-size: cover;
  overflow: hidden;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh; /* vh(viewport height) and vw(viewport width) are css units.The viewport is the user's visible area of a web page. The viewport varies with the device, and will be smaller on a mobile phone than on a computer screen. 100vh here means that always 100% of the screen height will be considered */
}

#hero-overlay
{
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6); /*sets the colour and opacity value, the first three being values of red green and blue and the last being alpha which is the opacity value from 0 to 1, 0 being fully transparent and 1 being opaque*/
  height: 100%;
  width: 100%;
  overflow-y:scroll;
}

/*CSS for background image and overlay ends here*/

h1
{
  font-family: "french script mt";
  text-align: center;
  color: white;
  position: absolute;
  left: 78vh;
  bottom: 68vh;
  font-size: 90px;
  
  
}

.cont1{
	position:relative;
	width:500px;
	height:300px;
	left:225px;
	top:225px;
	display:inline-block;
	
}
.cont2{
	position:relative;
	width:500px;
	height:300px;
	left:300px;
	top:225px;
display:inline-block;}

.cont3{
	position:relative;
	width:500px;
	height:300px;
	left:225px;
	top:275px;
display:vertical-align;}

.cont4{
	position:relative;
	width:500px;
	height:300px;
	left:800px;
	top:-25px;
display:inline-block;}

.cont5{
	position:relative;
	width:500px;
	height:300px;
	left:225px;
	top:25px;
display:vertical-align;}

.cont6{
	position:relative;
	width:500px;
	height:300px;
	left:800px;
	top:-275px;
display:vertical-align;}

.image{
display:block;
width:500px;
height:300px;
}
.overlay{
  width: 100%;
  height: 100%;
	position:absolute;
	transition:all .3s ease;
	opacity:0;
	background-color:#eee; 
}
.cont1:hover .overlay, .cont2:hover .overlay, .cont3:hover .overlay, .cont4:hover .overlay, .cont5:hover .overlay, .cont6:hover .overlay
{
	opacity:0.8;
}

.text{
color:white;
font-family:brush script mt;
position:absolute;
bottom:-29px;
left:50%;
transform:translate(-50%,-50%);
font-size:37px;  
text-shadow: -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000
}

p
{
color: #FFFFFF;
font-family:"Bell MT";
position:absolute;
bottom:-182px;
right:-255px;
transform:translate(-50%,-50%);
font-size:17.5px;
font-weight: bold;
width:500px;
height:300px;
cursor: default;

}

.overlayleft{
	height:100%;
	width:100%;
  position: absolute;
	top:0;
	left:0;
	background-color:#00b1ba;
  
}

.cont1:hover .overlayleft{
	width:100%;
}

.cont2:hover .overlayleft{
	width:100%;
}

.cont3:hover .overlayleft{
	width:100%;
}

.cont4:hover .overlayleft{
	width:100%;
}

.cont5:hover .overlayleft{
	width:100%;
}

.cont6:hover .overlayleft{
	width:100%;
}

img
{
  box-shadow: 10px 10px 10px black;
}